@charset "utf-8";

.body {
    color:  brown;
    background-color:  orange;
    font-size: 100%; 
    text-align: left;
    width: 90%;
    margin: 0 auto;
}   
a{
    color: brown ;
    text-decoration: none;
}
a:hover{
    color: black;
}
.mainHeader img{
    width: 25%;
    height: auto;
    margin: 5% 0;
}
.mainHeader nav{
    background:  white;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.mainHeader nav ul{
    list-style: none;
    margin: 0 auto; 
}
.mainHeader nav li{
    float:left; 
}
.mainHeader nav a:link{
    color:brown;
    display: inline-block;
    padding: 10px 45px;
}
.mainHeader nav a:hover{
    color: white;
    background-color:  brown ;
}
.mainContent{
    width: 64%;
    background-color: beige;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    float:left;   
    margin-top: 2%;
    margin-right: 2%;
    padding: 2%;
}
.sidebar{
    width: 26%;
    background-color: beige;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;   
    float:left;
    margin-top: 2%;
    padding: 2%;
}
.mainFooter{
    width:100%;
    background-color: beige;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;   
    float:left;      
    text-align: center;
    margin-top: 2%;
}
@media only screen and (min-width:150px) and (max-width:600px)
{
.body{
    font-size:95%;
}
.mainHeader img{
    width: 100%; 
}
.mainHeader nav{
    height: 148px;
}
.mainHeader nav ul{
    padding-left: 0;
}
.mainHeader nav ul li{
    float:left;
    display:inline-block;
    width: 100%;
    text-align: center;
}
.mainHeader nav a:link{
    display: block; 
}
.mainContent{
    width:96%;
} 
.sidebar{
    width:96%;
}
}
